:root {
    --background-body: rgb(225, 212, 201);
    --background-container: rgb(102, 95, 85);
    --background-backdrop: rgb(102, 101, 100);
    --text-dark: #403F3D;
    --text-light: rgb(225, 212, 201);
    --text-accent: #B0907A;
    --border-light: rgba(193, 182, 173, 1);


}

body {
    background-color: var(--background-body);
    color: var(--text-dark);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding: 20px 0 40px 0;


}

main {
    display: flex;
    max-width: 100%;

    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 0;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    margin: 0;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}

.accent {
    font-style: italic;
    color: var(--text-accent);
}

/*------------------BUtTONS----------------------------*/
.button-primary {
    width: 200px;
    height: auto;
    padding: 20px 78px;
    border-radius: 100px;
    border: solid 1px var(--background-body);
    background-color: var(--background-body);
    font-weight: 600;
    font-size: 16px;
    font-family: Inter;

    justify-content: center;
    align-items: center;
}

.button-primary:hover {}




#offer {
    display: flex;
    width: 530px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    color: var(--text-light);
}






#hero {
    background-image: url('./assets/images/img-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;

    display: flex;
    width: 100%;
    max-width: 1360px;
    width: 100%;
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: flex-start;
    align-self: stretch;
    margin: 0 auto;
}

#favorite-coffee {
    display: flex;
    max-width: 1360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    margin: 0 auto;
}

.item-description {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-description h3 {
    text-align: center;
}

#about {
    display: flex;
    justify-self: center;
    max-width: 1360px;
    padding: 0 auto;

    flex-direction: column;
    align-items: center;
    gap: 40px;

}

#about h2 {
    align-self: stretch;
}

div.images {
    display: flex;
    max-width: 1360px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    justify-content: space-between;
}

.img-column {
    max-width: 50%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 40px;
}

.img-box1 {
    width: 660px;
    height: 590px;
    border-radius: 20px;
}

.img-box1:hover {
    transform: scale(90%);
}

.img-box2:hover {
    transform: scale(90%);
}

.img-box2 {
    width: 100%;
    height: 430px;
    border-radius: 20px;
}

header {
    max-width: 1360px;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0;
    font-weight: 600;
}

#navigator ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#navigator ul li a {
    padding-right: 40px;
    text-decoration: none;
    color: var(--text-dark);
}

#mobile-app {
    display: flex;
    max-width: 1360px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 1 0 0;
}

#app-img img {
    width: 630px;
    height: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button-app-store {
    display: flex;
    width: 200px;
    padding: 12px 20px;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--text-dark);
    background-color: var(--background-body);
    margin-right: 20px;
}

.button-app-store:hover {
    background-color: var(--background-container);
    color: var(--text-light);
}

.button-app-store p {
    margin: 0;
}

.small-text {
    font-size: 10px;
}

footer {
    background-color: var(--background-container);
    color: var(--text-light);
    display: flex;
    max-width: 1360px;
    padding: 100px;
    justify-content: center;
    align-items: center;
    margin: 100px auto 40px auto;
    gap: 100px;
    align-self: stretch;
    border-radius: 40px;

}

footer div {
    max-width: 530px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

#social-media ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

#social-media ul li {
    margin-right: 12px;
}

#social-media ul li img:hover {
    background-color: var(--background-body);
}

ul#contacts {
    list-style: none;
    padding: 0;

}

ul#contacts li {
    margin-bottom: 1em;
}

ul#contacts li a {
    text-decoration: none;
    color: var(--text-light);
}

ul#contacts li:hover {
    text-decoration: underline;
}

/*-------------------MENU PAGE-----------------------------------*/
#menu-page {
    display: flex;
    max-width: 1360px;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    margin: 0 auto 100px auto;

}

#menu-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

#menu-offer h2 {
    width: 800px;
    text-align: center;
}

#menu-offer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.tab-item {
    padding: 8px 16px 8px 8px;
    margin-right: 8px;
    text-decoration: none;
    border: var(--border-light) 1px solid;
    border-radius: 20px;
}

.tab-item:hover {
    background-color: var(--background-container);
}

#menu-offer ul li a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;

}

.icon {
    width: 24px;
    margin-right: 8px;
}

.menu {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

card {
    width: 22%;
    height: 560px;
    border: solid 2px var(--border-light);
    border-radius: 40px;
}

card:hover {
    transform: scale(0.9);
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 40px;


}

.card-description {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.tab-item:active {
    background-color: var(--background-container);




}

/*----------------------------DEsKTOP-------------------------------------------------*/
@media only screen and (min-width: 1440px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 20px 0 40px 0;
        justify-content: center;

    }

    main {
        display: flex;
        max-width: 1360px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: auto;
    }

    #offer {
        display: flex;
        width: 530px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        color: var(--text-light);
    }






    #hero {
        background-image: url('./assets/images/img-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 40px;

        display: flex;

        
     

        padding: 100px;
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        align-items: flex-start;
        align-self: stretch;
        margin: 0 auto;
        width: 100%;
        max-width: 1360px;
    }


    footer {
        background-color: var(--background-container);
        color: var(--text-light);
        display: flex;
        max-width: 1360px;
        padding: 100px;
        justify-content: center;
        align-items: center;
        margin: 100px auto 40px auto;
        gap: 100px;
        align-self: stretch;
        border-radius: 40px;
    
    }
    
    footer div {
        max-width: 530px;
        height: 250px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        flex: 1 0 0;
    }
    
    #social-media ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
    }
    
    #social-media ul li {
        margin-right: 12px;
    }
    
    #social-media ul li img:hover {
        background-color: var(--background-body);
    }
    
    ul#contacts {
        list-style: none;
        padding: 0;
    
    }
    
    ul#contacts li {
        margin-bottom: 1em;
    }
    
    ul#contacts li a {
        text-decoration: none;
        color: var(--text-light);
    }
    
    ul#contacts li:hover {
        text-decoration: underline;
    }
    card {
        width: 21%;
        height: 560px;
        border: solid 2px var(--border-light);
        border-radius: 40px;
    }

    .card-img {
        width: 100%;
        height: auto;
        border-radius: 40px;
        margin: 0;


    }

    .card-description {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    /*-------------------MENU PAGE-----------------------------------*/
    #menu-page {
        display: flex;
        max-width: 1360px;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        margin: 0 auto 100px auto;

    }

    #menu-offer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    #menu-offer h2 {
        width: 800px;
        text-align: center;
    }

    #menu-offer ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .tab-item {
        padding: 8px 16px 8px 8px;
        margin-right: 8px;
        text-decoration: none;
        border: var(--border-light) 1px solid;
        border-radius: 20px;
    }

    .tab-item:hover {
        background-color: var(--background-container);
    }

    #menu-offer ul li a {
        text-decoration: none;
        color: var(--text-dark);
        font-weight: 600;
        font-size: 16px;
        display: flex;
        align-items: center;

    }

    .icon {
        width: 24px;
        margin-right: 8px;
    }

    .menu {
        max-width: 1360px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 40px;
        
    }

    card {
        width: 250px;
        height: 560px;
        border: solid 2px var(--border-light);
        border-radius: 40px;
    }

    card:hover {
        transform: scale(0.9);
    }

    .card-img {
        width: 100%;
        height: auto;
        border-radius: 40px;


    }

    .card-description {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
    }

    .tab-item:active {
        background-color: var(--background-container);




    }

}

/*-----------------------------------------------TABLET------------------------------*/

@media only screen and (min-device-width: 768px) and (max-width:1440px) {
    body {
        padding: 40px;
        margin: 0;
    }

    main {
        max-width: 688px;
        width: 100%;
        display: flex;
        margin: 20px 0 100px 0;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    #hero {

        width: 100%;
        padding: 100px 60px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }

    #favorite-coffee {
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    #about {
        display: flex;
        padding: 0px;

        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    div.images {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 40px;
        align-self: stretch;
        justify-content: center;
    }

    .img-column {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        gap: 40px;
    }

    .img-box1 {
        width: 100%;
        height: auto;
    }

    .img-box2 {
        display: none;
    }

    #mobile-app {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 40px;
        justify-content: center;
        align-items: center;
        gap: 100px;
        align-self: stretch;
    }

    footer {
        display: flex;
        padding: 100px 60px;
        margin: 0;
        flex-direction: column;

        align-items: center;
        align-self: stretch;
    }

    footer div {
        justify-content: flex-start;
    }

    /*-----menu page--------------*/
    #menu-page {
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;
        margin: 20px 0 100px 0;

    }

    card {
        width: 348px;
        margin: auto;
        height: auto;
        border: solid 2px var(--border-light);
        border-radius: 40px;
    }

}

/*-------------------MOBILE------------------------------------------------------*/
@media only screen and (max-width:380px) {
    body {
        max-width: 380px;
        padding: 20px 16px 40px 16px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 115%;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    main {
        max-width: 348px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about {
        display: flex;
        padding: 0px;

        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    div.images {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 40px;
        align-self: stretch;
        justify-content: center;
    }

    .img-column {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        gap: 40px;
    }

    .img-box1 {
        width: 100%;
        height: auto;
    }

    .img-box2 {
        display: none;
    }

    #mobile-app {
        max-width: 348px;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0px;

        justify-content: center;
        align-items: center;
        gap: 100px;
        align-self: stretch;
    }


    footer {
        display: flex;
        max-width: 348px;

        height: auto;

        padding: 60px 16px;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
    card {
        width: 90%;
        height: auto;
        border: solid 2px var(--border-light);
        border-radius: 40px;
    }
}

/*--------------------LARGE MOBILE----------------*/
@media only screen and (min-width:380px) and (max-width:767px) {
    body {
        width: 100%;
        padding: 0 16px;
        display: flex;
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 42px;
        font-weight: 600;
        line-height: 115%;
    }

    h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 125%;
    }

    main {
        max-width: 680px;
        width: 100%;
        margin: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #hero {
        width: 100%;

        padding: 60px 16px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
    }

    #offer h1 {
        width: 100%;
    }

    #favorite-coffee {
        min-width: 348px;
        margin: 0;
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    #about {
        display: flex;
        padding: 0px;

        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    div.images {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 40px;
        align-self: stretch;
        justify-content: center;
    }

    .img-column {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
        gap: 40px;
    }

    .img-box1 {
        width: 100%;
        height: auto;
    }

    .img-box2 {
        display: none;
    }

    #mobile-app {
        min-width: 348px;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 0px;

        justify-content: center;
        align-items: center;
        gap: 100px;
        align-self: stretch;
    }



    footer {
        max-width: 680px;
        width: 100%;

        padding: 60px 16px;
        margin: 100px auto 40px auto;
        display: flex;
        height: auto;



        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }

    card {
        width: 348px;
        margin: auto;
        height: auto;
        border: solid 2px var(--border-light);
        border-radius: 40px;
    }






}